xcode_workspace: RKGeonames.xcworkspace # path to your xcodeproj folder
xcode_scheme: RKGeonames
xcode_sdk: iphonesimulator7.0
language: objective-c
before_install:
  - brew update
  - brew install node
  - npm install -g grunt-cli appium
  - gem install cocoapods --no-ri --no-rdoc
install:
  - pod install
  - npm install
branches:
  only:
    - master

script:
  - xctool -workspace RKGeonames.xcworkspace -scheme RKGeonames -sdk iphonesimulator7.0 build test CONFIGURATION_BUILD_DIR="$(pwd)/build/products/\$CONFIGURATION\$EFFECTIVE_PLATFORM_NAME"
  - grunt
